<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" type="text/css">
</head>
<body>
	<div class="container">
		<div class="well"><div class="row">
			<p><b>Welcome to API Gateway</b></p>
			<p><b>Login API counter: <%= counter %></b></p>
			<p>Login Successfull !!!</p></div></div></div>
		</body>
		</html>