<!DOCTYPE html>
<html>
<head>
	<title>Node API Gateway</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1></h1>
	<p>Welcome to API Gateway</p>

	<div >
		<form action="/gateway/loginUser" id="login-form" method="POST">
			<h2>Log In</h2>
			<p>
				Please enter your email address and password to log in.
			</p>
			<p>
				<label>    Username</label>
				
				<input tabindex="1" type="text" maxlength="64" size="20" name="username" value="">
			</p>
			<p>
				<label>    Password</label>
				<input tabindex="2" autocomplete="off" type="password" size="20"  name="password">
			</p>

			<p>
				<button tabindex="3" type="submit" value="Log In"><span>Log In</span></button>
			</p>

		</form>
	</div>
</body>
</html>